/* CSS Document */

/*全区*/
.t{ width:980px; margin:8px auto 0 auto;}

/*侧栏区*/
.tSide{ width:267px;}
.tsTitle{ background:#f2f2f2 url(../images/ico.gif) no-repeat 10px 8px; border-top:1px solid #fff; border-bottom:1px solid #fff; height:30px;}
.tsTitle h3{ padding-left:32px; color:#f09; font-size:14px; font-weight:bold; line-height:28px; }

/*侧栏一区*/
.ts1{ width:265px; height:330px; border:1px solid #ccc;}
.ts1Info{ width:265px; height:298px; border-top:1px solid #ccc; position:relative;}
.ts1Info p{text-indent:2em; color:#111; line-height:21px; padding:14px;}
.ts1Info p a{ color:#c00;}
.ts1Info p a:hover{ color:#c00; text-decoration:underline;}
.ts1Info img{ position:absolute; top:128px; left:10px;}
.ts1 .aPosition{ position:absolute; width:70px; height:70px; display:block; top:214px; left:20px; z-index:9999;}

/*侧栏二区*/
.ts2{ width:265px; height:475px; margin-top:8px; border:1px solid #ccc;}
.ts2Img{ width:265px; border-top:1px solid #ccc;}
.ts2Img img{ border:1px solid #ccc; margin:9px auto 1px auto; display:block;}

/*栅栏三区*/
.ts3{ width:265px; margin-top:8px; border:1px solid #ccc;}
.ts3List{ width:265px; border-top:1px solid #ccc;}
.ts3List ul{ padding:15px 0 5px 9px;}
.ts3List ul li{ height:25px; width:250px;}
.ts3List ul li a{ padding-left:8px;}
.ts3List ul li span, .ts3List ul li i{ display:block; width:14px; height:20px; padding-top:2px; font-family:'Arial'; font-size:11px; color:#fff; text-align:center;}
.ts3List ul li span{ background:url(../images/ico1.gif) no-repeat 1px 2px;}
.ts3List ul li i{ background:url(../images/ico2.gif) no-repeat 1px 2px;}

/*列表区*/
.tList{ width:703px; background:url(../images/listBg.jpg) repeat-x; border:1px solid #ccc;}
.tlColumn{ height:35px;}
.tlColumn .home{ background:url(../images/home.gif) no-repeat 15px 8px; width:45px; height:27px; display:block;}
.tlColumn p{ line-height:35px;}
.tlGrap{ height:330px; background:url(../images/grapBg.png) no-repeat center bottom; position:relative;}
.gl{ width:250px; height:260px;}
.gl img{ width:199px; height:221; padding:4px; border:1px solid #ccc; margin:20px 0 0 20px;}
.gr{ width:450px;}
.grTitle{ height:30px; width:430px; border-bottom:1px solid #ccc; line-height:30px; margin-top:20px; background:url(../images/ico4.gif) no-repeat left 9px;}
.grTitle h4{ color:#111; font-size:14px; font-weight:bold; padding-left:18px;}
.grList{ width:450px; padding-top:16px;}
.grList ul{ width:216px;}
.grList ul li{ height:31px; clear:both; font-size:13px;}
.grList ul li a{ padding-left:8px;}
.grList ul li span, .grList ul li i{ display:block; width:14px; height:20px; padding-top:2px; font-family:'Arial'; font-size:11px; color:#fff; text-align:center;}
.grList ul li span{ background:url(../images/ico1.gif) no-repeat 1px 2px;}
.grList ul li i{ background:url(../images/ico2.gif) no-repeat 1px 2px;}
.tlPosition{ position:absolute; background:url(../images/promptBg.png) no-repeat; width:478px; height:34px; text-align:center; left:110px; top:270px; line-height:34px; font-size:14px; color:#333;}
.tlPosition a{ color:#F09; font-weight:bold;}
.tlPosition a:hover{ color:#c00; text-decoration:underline;}
.tlList{}
.tlList dl{ width:625px; height:81px; margin:15px auto 0 auto; border-bottom:1px dotted #999;}
.tlList dl dt{ height:20px; background:url(../images/ico3.gif) no-repeat left 5px;}
.tlList dl dt a{ font-size:14px; color:#111; font-weight:bold; padding-left:16px;}
.tlList dl dt em{ height:20px;}
.tlList dl dd{ line-height:21px; color:#666; padding-top:6px;}
.tlList dl dd a{ color:#F09;}
.tlList dl dd a:hover{ color:#c00; text-decoration:underline;}

.page{text-align:center; margin:30px 0; font-size:12px;}
.page li{display:inline; color:#999;}
.page a{background:#FFFFFF; color:#E44680;border:1px solid #E44680; padding:3px 8px 2px 8px; }
.page a:hover{background:#E44680; color:#FFF; text-decoration:none;overflow:hidden;}
.pageinfo{ padding-left:6px;}

